.main-header {
    height: var(--header-height);
    background-color: var(--header-background);
    color: var(--header-base);
}

.main-header .main-nav-list > * {
    position: relative;;
    margin-inline: var(--header-nav-list-margin);
}

.main-header .main-nav-list > *:hover {
    color: var(--primary-marker);
}

.main-header .main-nav-list > *::before {
    content: '';
    position: absolute;
    bottom: calc(-0.5 * var(--header-height) + 0.5em + 2px);
    left: calc(-1 * var(--header-nav-list-margin));
    width: calc(100% + 2 * var(--header-nav-list-margin));
    height: 5px;
    background-color: var(--primary-marker);
    opacity: 0;
}

.main-header .main-nav-list > *:hover::before {
    opacity: 1;
}

.marked {
    color: var(--primary-marker);
}