@font-face {
    font-family: eurofurence;
    src: url(/assets/fonts/eurofurence-regular.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(/assets/fonts/lato-regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(/assets/fonts/lato-bold.ttf);
}
