:root {
    /* Sizes */
    --header-height: 130px;
    --header-nav-list-margin: 2.375em;

    /* Colors */
    --header-background: #292929;
    --header-base: #ffffff;
    --primary-marker: #58c93a;
    --primary-1: #4f4e4e;
    --primary-base: #606060;
    --primary--1: #818181;
    --primary--2: #c2c2c2;
    --primary--3: #e1e0e0;
    --primary--4: #ffffff;
    --footer-background: #f8f8f8;
    --footer-base: #a6a6a6;
    --footer--1: #ffffff;
    --footer-icon-background: #e5e5e5;
    --footer-icon-background-hover: #516fad;
}