:root {
    /* Sizes */
    --header-height: 130px;
    --header-nav-list-margin: 2.375em;

    /* Colors */
    --header-background: #292929;
    --header-base: #ffffff;
    --primary-marker: #58c93a;
    --primary-1: #4f4e4e;
    --primary-base: #606060;
    --primary--1: #c2c2c2;
    --primary--2: #ffffff;
}